.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(20, 20, 20);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  width: 90px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > * {
  margin: 10px;
  font-size: x-large !important;
}

.header__left > h4 {
  margin: 12px;
}
