.home {
  height: 87vh;
  position: relative;
  background-image: url(https://image.tmdb.org/t/p/original/gL8myjGc2qrmqVosyGm5CWTir9A.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.btn__info {
  background: rgba(109, 109, 110, 0.7) !important;
  color: white;
  margin-left: 10px !important;
}

.home__content {
  margin-bottom: 15%;
}

.home__content > p {
  font-size: large;
  font-weight: 700;
}
